<div class="mt-4">
  <form name="form-search" method="POST" action="/search">
    <div class="form-group">
      <label for="search-input">Từ khóa:</label><br>
      <input type="text" id="text" name="search-input" placeholder="Nhập từ khóa..."><br>
    </div>

    <button type="submit" class="btn btn-submit">Tìm kiếm</button>
  </form> 
</div>